body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Epilogue', sans-serif;
  background-color: #BDA0BC;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #404E5C;
}

.header {
  font-family: 'Epilogue', sans-serif;
  background-color: #BDA0BC;
}

.nav {
  list-style: none;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 20;
  margin: 0;
  font-weight: bold;
  background-color: #BDA0BC;
}

.nav-link {
  text-decoration: none;
  color: #4C86A8;
  padding: 10px 20px;
}

.nav-link:hover {
  color: #E1DD8F;
}


.footer-container {
  
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Epilogue:wght@800&display=swap');