body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Epilogue', sans-serif;
  background-color: #BDA0BC;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #404E5C;
}

.header {
  font-family: 'Epilogue', sans-serif;
  background-color: #E1DD8F;
  padding: 10px 0 0 0;
}

.nav {
  list-style: none;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 20px 0 0 0;
  margin: 0;
  font-weight: bold;
  background-color: #BDA0BC;
}

.nav-link {
  text-decoration: none;
  color: #4C86A8;
  padding: 10px 20px;
}

.nav-link:hover {
  color: #E1DD8F;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a:hover {
  color: #E1DD8F;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 30px;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #4C86A8;
  background-color: #BDA0BC;
}

.me {
  flex: 0 0 25%;
  max-width: 25%;
}

.aboutDiv {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 20px;
}

.bioText {
  flex: 1;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Epilogue:wght@800&display=swap');